html {
  box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  /* overflow: hidden; */
  background-color:white;

}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper-top {
  background-color: #1F2937;

}


.first {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 1rem 14rem 7rem;

  margin:0 5%;

}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;


}

.nav-bar > * {
  flex-grow: 1;

}

.ul-nav-bar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-basis: 700px;
  color: #E5E7EB;
  font-size: 18px;


}

.ul-nav-bar li {
  /* text-decoration: none; */
  list-style: none;
  margin-left: 10px;
  align-self: flex-end;
}


/*
#header {
  background-color: #1F2937;
  padding-bottom: 100px;

}
*/

.header-logo {
  font-size: 30px;
  color: #F9FAF8;
  font-weight:bold;
}


.header-left h1 {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero-content {
  display:flex;
  flex-direction:row;
  justify-content: space-between;


}

.hero {
  flex-basis: 40%;
}

.hero-img {
  background-color:grey;
  width: 400px;
  height:200px;
  display:flex;
  align-items:center;
  justify-content:center;
  color: #E5E7EB;
}

.hero h1 {
  color: #F9FAF8;
  font-size: 48px;
}

.submit {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 4px;
  border: 0px;
  padding: 5px 20px;
  margin-top: 10px;

}

.c1 {
  font-size: 18px;
  color: #E5E7EB;
}

.random {
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  margin:1em;
  font-size: 36px;
  color: #1F2937;
}

.random span{
flex-grow:1;
text-align:center;
flex-basis:100%;
margin: 1em;
}

.random-item{
  flex-basis:3em;
  margin-top:1em;
  font-size:18px;
  color: #E5E7EB;
  margin-left:2em;

}

.random-square{
  min-height:150px;
  border:5px solid #3882F6;
  min-width:150px;
  margin:0 10px 10px 0;;
  border-radius:1em;


}

.quote{
 background-color:#E5E7EB;
}
.quote-content{


  display:flex;
  align-items:center;
  justify-content:center;
  padding:2em;
  flex-direction: column;
  padding: 10%;
  margin: auto;
  max-width:70%;
}



#quote-message {

   font-size:36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
}
.quote-author {

  font-weight:bold;
  align-self:flex-end;
  padding-top:1em;
  font-size:30px;

}


.call-to-action-content {
  background-color: #3882F6;
  margin:2em;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  margin:5% 15%;
  min-height: 10em;
  border-radius:1em;

}

.action-time {
  font-size:2em;
  color: white;
}
.action-signup {
  display:block;
  font-size:0.5em;

}


.call-to-action-content .submit {
  border: 1px solid white;
}

.footer {
  background-color:#1F2937;
  min-height:5em;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}